<h1>
  新功能开发中！ 敬请期待...
</h1>
<h3>
  New features are on the way...
</h3>
<p>
  Ps: The developer of this website is a International student who graduate from Boston University major in Actuarial Science and <br>
  know all kinds of crazy financial derivative pricing stuff and NEED a JOB in the US,<br>
  location prefer Eastcoast: NYC,Boston  Or Westcoast: SF LA.<br>
  Interested in blockchain Company<br>
  VISA sponsorship prefered<br>
  Current status:F1 student Visa<br>
  Salary:above minimum wage, but the higher the better...<br>
  Self-taught Angular2 developer and still learning!!!<br>
  Have general knowledge about Solidity, the EVM, Node and blockchain<br>
  Intern at Etherboost.com for 6 months. Go checkout our Awesome Dapp:
  <a target="_blank" href="http://etherdelta.github.io">etherdelta.github.io</a><br>
  Bug report, recruitment please contact:
  <a target="_blank" href="mailto:tokenninja.com@gmail.com">tokenninja.com@gmail.com</a>
</p>
